#pj-inf {
height: 450px;
    width: 500px;
    margin: 0 auto;
    outline: 6px double #00000096;
  outline-offset: 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
  box-sizing: border-box;
}

.pj-img {
  width: 200px;
  height: 440px;
  background: url(https://i.imgur.com/bElMl3M.jpg);
  order: 1;
  flex-basis: auto;
}

.pj-img .pj-box {
    color: #6d6d6d;
    background: #000000ad;
  width: 200px;
  height: 440px;
  opacity: 0;
  transition: 0.5s;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
  transform: scale(0.45);
  transition: 0.7s;
}

.pj-img:hover .pj-box {
  opacity: 0.9;
  transition: 0.7s;
  transform: scale(0.9);
}

.pj-box .witchling, .pj-box .healingb {
  margin: 5px 20px;
  width: 132px;
  height: 157px;
  border-radius: 100%;
  box-sizing: border-box;
}

.pj-box .witchling img {
  width: 130px;
  height: 155px;
  border-radius: 100%;
  border: 6px solid #6a6faa;
}

.pj-box .healingb img {
  width: 130px;
  height: 155px;
  border-radius: 100%;
  border: 6px solid #53a09c;
}

.pj-box .witchytxt {
  display: inline-block;
  text-align: center;
  font: 11px Arial;
  text-transform: uppercase;
  line-height: 2em;
  margin: 30px 26px;
  width: 70%;
  letter-spacing: 1px;
}

.pj-box .witchytxt span {
  font-size: 15px;
  padding: 6px;
  text-align: center;
  margin: auto;
}

#priya {
      color: #6a6faa;
}

#axel {
      color: #53a09c;
}

.pj-story {
  width: 290px;
  height: 440px;
  background: #080808eb;
  order: 2;
  flex-basis: auto;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}
