.nadsig {
  margin: 0 auto;
  width: 300px;
  height: 220px;
  outline-offset: 2px;
  border: 4px solid #080808;
  outline: 2px solid #252525e0;
  overflow: hidden;
  transition: all ease 1s;
  background: url(https://i.ibb.co/vmVdJs5/nads2.jpg);
}

.nadsig:hover{
    filter: grayscale(50%);
    transition: all ease 0.5s;
}

.nadstint {
    width: 305px;
    height: 235px;
    position: relative;
    top: -240px;
    right: 160px;
    mix-blend-mode: multiply;
    background: #1e3959;
    z-index: 1;
    transition: all ease-out 1s;
}

.nadsig:hover .nadstint {
    position: relative;
    right: -146px;
    /*top: -280px;*/
   transition: all ease 1s;
}

.nadtxt1 {
  width: 115px;
  font: 13px 'Fira Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  left: 15px;
  top: 35px;   
  color: #f5f0f0;    
  line-height: 1.2em;
  z-index: 2;
  transition: all ease 1s;
}

.nadtxt1 span {
    font: italic 15px Lora;
      text-transform: uppercase;
    display: block;
    letter-spacing: 5px;
    text-shadow: 2px -2px 0px #080808;
}

.nadtxt1:before {
width: 40px;
  height: 0.5px;
  background: #f5f0f0;
  content: ' ';
  display: block;
margin-left: 35px;
margin-bottom: 10px;
}

.nadtxt1:after {
  width: 40px;
  height: 0.5px;
  background: #f5f0f0;
  content: ' ';
  display: block;
margin-left: 35px;
margin-top: 10px;
}

.nadtxt2 {
  width: 105px;
  font: 21px Lora;
  text-align: right;
  position: relative;
  letter-spacing: 2px;
  left: 180px;
  top: -250px;  
  color: #f5f0f0;
  z-index: 2;
  transition: all ease 1s;
  transition-delay: 0.1s;
}

.nadsig:hover .nadtxt1 {
    /*position: relative;*/
    left: -150px;
    transition: all ease-out 1s;
}

.nadsig:hover .nadtxt2 {
    top: -50px; 
    transition: all ease-out 1s;
}

.tidedrop {
  background: #f5f0f0;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  position: relative;
  top: -20px;
  left: 40px;
  height: 20px;
  width: 20px;
 animation: waterpulse 2s infinite linear;
}

@keyframes waterpulse {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(245, 240, 240, 0.7);
  }
  
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 7px rgba(245, 240, 240, 0);
  }
  
  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(245, 240, 240, 0);
  }
}
